<app-header></app-header>
<div style="width: 100%;height: 80vh; background-image: url(https://img.freepik.com/premium-vector/people-buy-discount-sales-vector-illustration-cartoon-flat-happy-tiny-man-woman-buyer-characters-celebrate-big-sales-store-isolated-white_213110-696.jpg?w=1060);" class="d-flex justify-content-center align-items-center">
  <div style="width: 900px;" class="shadow row rounded p-5 align-items-center ">
    <div class=" col-lg-6">
      <img src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?size=626&ext=jpg&ga=GA1.1.109004980.1701787441&semt=sph" class="img-fluid " alt="">
    </div>
    <div class="col-lg-6">
      
      <form [formGroup]="loginForm" class="border p-3 rounded" >
        <h1 class="fw-bolder">LOGIN FORM </h1>
        <!-- <pre>
          {{email}}
          {{password}}
        </pre> -->
        <div class="form-floating mb-3">
          <input name="email" formControlName="email"  type="text" class="form-control" id="floatingInput" placeholder="name@example.com" >
          <label for="floatingInput">Email address</label>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="fw-bolder text-danger ">Invalid username</div>

        </div>
        <!-- invalid email -->

        <div class="form-floating mb-3">
          <input name="password" formControlName="password"  type="password" class="form-control" id="floatingInputpswd" placeholder="Password">
        <label for="floatingInputpswd">Password</label>
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="fw-bolder text-danger ">Invalid password</div>

      </div>


      <!-- invalid password -->


      
     

      <div class="text-center">
        <button (click)="login()" data-mdb-ripple-init type="submit" class="mt-2  btn btn-primary btn-block">Sign-in </button>
        <div> <a routerLink="/register">New here? Register Now!!</a> </div>
      </div>


    </form>
    
  </div>
  </div>
  
</div>