<app-header></app-header>
<div class="mt-5 p-5">
  <div *ngIf="allproducts.length == 0" style="height: 37vh;" class="w-100 d-flex flex-column  justify-content-center align-items-center">
    <img height="400px" width="200px" src="https://th.bing.com/th/id/OIP.8hCRd1NVr5kJJQ3V_KEJiAAAAA?w=171&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" />
    <h3 class="text-center text-danger">Cart is empty</h3>
   <button class="btn btn-outline-dark " routerLink="">Back to Home</button>
  
  </div>
  <div class="row" >
    
      <div *ngIf="allproducts.length !== 0" class="col-lg-8"  >
      
        <table class="table shadow rounded" >
          <thead >
            <tr>
              <th>NO.</th>
              <th>TITLE</th>
              <th>THUMBNAIL</th>
              <th>PRICE</th>
              <th>ACTION</th>
            </tr>
          </thead>

          <tbody *ngFor="let product of allproducts; let i=index">
           
              <tr>
                <td> {{i+1}} </td>
                <td> {{product.title}} </td>
                <td>
                  <img width="100px" height="100px" [src]="product.image" alt="" />
                </td>
                <td>
                  {{product.price}}
                </td>
                <td>
                
                    <button (click)="removeItem(product._id)" class="btn"  ><i class="fa-solid fa-trash text-danger"></i></button>

                 
                </td>
              </tr>
        
          </tbody>
        </table>
      </div>

      <!-- {/* cart summary */} -->

      <div class="col-lg-4" >
        <div class="border mt-3 rounded shadow p-2 w-100">
          <h1 class="text-primary p-2">Cart Summary</h1>
          <h4>
            Total products: <span></span>
          </h4>
          <h4 >
            Total: <span class="text-danger fw-bolder fs-2">$</span>
          </h4>
          <div class="d-grid">
            <button class="btn btn-success mt-5 rounded" >
              Check out
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

